<form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Login as administrator</h2>

    <div class="form-control">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email">
        <div *ngIf="Email.touched" class="validation">
            <small *ngIf="form.get('email').errors?.required">Enter your Email address</small>
            <small *ngIf="form.get('email').errors?.email">Enter valid Email address</small>
        </div>
    </div>

    <div class="form-control">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="Password.touched" class="validation">
            <small *ngIf="form.get('password').errors?.required">Enter your Password</small>
            <small *ngIf="form.get('password').errors?.minLength">
                Password must be at least {{form.get('password').errors?.minLength.requiredLength}} characters.
                Now it {{form.get('password').errors?.minLength.actualLength}}.
            </small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submited">Login</button>
</form>